# =========================
# OS
# =========================
.DS_Store

# =========================
# Node / Package managers
# =========================
node_modules/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Editor / IDE
# =========================
.vscode/
.idea/
*.iml

# =========================
# Xcode (iOS)
# =========================
build/
DerivedData/
xcuserdata/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xccheckout
*.xcuserstate
*.hmap
*.ipa
*.moved-aside
**/.xcode.env.local

# =========================
# Android / IntelliJ
# =========================
.gradle/
local.properties
.cxx/
*.hprof
*.keystore
!debug.keystore
.kotlin/

# =========================
# React Native / Metro
# =========================
.metro-health-check*
.expo/
.expo-shared/

# =========================
# Fastlane
# =========================
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# =========================
# Bundles / Builds
# =========================
*.jsbundle

# =========================
# Ruby / CocoaPods
# =========================
Pods/
vendor/bundle/

# =========================
# Tests / Coverage
# =========================
coverage/

# =========================
# Yarn Berry
# =========================
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
